# The file needs to be executable to load, otherwise it is disabled
function loadFile() {
  local FILE="${1}"

  if [[ -x "$FILE" ]]; then
    source "${FILE}"
  fi
}

export NODE_EXTRA_CA_CERTS="$(mkcert -CAROOT)/rootCA.pem"
export NODE_OPTIONS=--max_old_space_size=8192
export SERVER_HOST="local.internal"
export SERVER_PORT="3000"

loadFile "./.envrc.local.sh"
