:root {
  font-family: Merriweather, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  /* Need to exclude the scrollbar */
  min-width: calc(100vw - (100vw - 100%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
